[2017-11-14 15:42] nsheff opened #1 "example data"
We need an example user dataset so someone can run it without *any* input to test, if they want. Just use the setC_100 or whatever.

[2017-11-14 15:45] nsheff opened #2 "Flash dependency"
The new "Excel" and "PDF" buttons are nice, but they introduce a dependency on Flash.

The PDF looks strange anyway, and Excel can be done with CSV, so I think I would just take those two buttons out...

[2017-11-14 15:48] nsheff opened #3 "text status updates"
The new text updates are working great, but there are a few issues:

- "Calculating Fisher scores..." remains after job is complete.
- notices now appear in 2 locations: top right ("calculating region set enrichments..." and under the green button. let's consolidate
- notices are too long and go off the screen if on narrow screens
- should we move the runLOLA button? it seems strange hanging out o

[2017-11-14 15:51] nsheff opened #4 "default cutoffs"
Right now the default cutoffs are set such that there are no hits present in any plots.

Can we work out a way to get a reasonable cutoffs such that there will be a few hits present by default? Maybe, 25 hits or something?

Suggestion: take the `.25` quantile as the default for both odds ratio and support; and then just rank and take set the p-value cutoff to score on number 25. then we're guarant

[2017-11-28 20:33] vpnagraj commented on #2
good catch ... only using csv button as of 29ae094

[2017-11-28 20:33] #2 closed

[2017-12-12 14:23] vpnagraj commented on #1
added selection to use example data 3e808ee

[2017-12-12 14:23] #1 closed

[2017-12-12 16:39] vpnagraj commented on #3
reworked the notification messages in 22e8c62 and 3e808ee ... pretty sure that resolves these issues

[2017-12-12 16:39] #3 closed

[2017-12-16 16:25] vpnagraj commented on #4
this should be resolved with the max rank slider in 43e34c2

[2017-12-16 16:25] #4 closed

[2018-02-01 21:45] nsheff opened #8 "staging and dev"
@nmagee and @vpnagraj

When we last talked, we thought about having master and dev branches with separate docker deploys. I now think your staging comment makes more sense; so we have dev for development, staging pushes that into a test docker environment, and then master is the real deploy.

that makes a lot of sense to me now, even for this.

[2018-02-02 14:24] nsheff opened #9 "reference universes"
universes are actually relative to a reference assembly, like databases.

hence, we should move the selection of assembly to the left, with the input, and this will need to populate options select boxes for both universe and database.

in other words, activeDHS universe will not work with an mm9 database.

[2018-02-02 14:25] nsheff opened #10 "bad gateway"
you probably realize this but just in case you don't :) I'm getting a `Bad Gateway` error right now on http://lolaweb.databio.org

[2018-02-02 16:31] nmagee commented on #10
@nsheff are you still getting the app okay with the longer URL http://lolaweb.databio.org/shinyLOLA/ ?

[2018-02-02 16:40] nmagee commented on #10
I'm seeing it now too -- browser cache needed clearing. Working to fix it.

[2018-02-02 17:32] nmagee commented on #10
We're back up as of 20 mins ago or so, but this was useful, as it exposed a setting I need to adjust -- and need to research a bit more how Traefik maps domain names to the app.

[2018-02-02 18:43] nsheff commented on #10
I'm still getting `Bad Gateway` here.

[2018-02-02 19:23] nsheff commented on #10
it's  back up for me now

[2018-02-02 19:27] nsheff commented on #9
@vpnagraj  I have now organized some additional universes under `universes` now by reference genome; please populate this select box according to the subdirectory on-the-fly depending on selection in the reference genome drop-down.

[2018-02-02 19:31] vpnagraj commented on #9
@nsheff sounds good ... i see them in there and will start working on implementing that in the app

[2018-02-02 19:32] nsheff opened #12 "single-user multiple sessions"
it appears that a single user can only have multiple sessions in different browsers. can we relax this constraint?

[2018-02-02 19:34] nsheff opened #13 "invert sorting for rank columns"
The sorting for any Rank-based column should be inverted, so better hits show up on top, instead of on bottom

(try sorting by support, then by maxRank)

[2018-02-02 19:42] nsheff commented on #9
along the same lines, let's do `references `similarly.
I've updated the reference databases now; can you also populate these based on the ref genome selected? and make it a select box? this can then populate automatically based on whatever we stick in that folder

[2018-02-02 19:54] vpnagraj commented on #9
@nsheff just to be clear "reference databases" = region databases?

and i'm now seeing `Core/`, `LOLAJaspar` and `LOLARoadmap` as the dirs under reference ... those should be the options available in a dropdown select list based on whether or not the user has selected a reference genome that present in one (or more) of those DBs?

[2018-02-02 20:13] nsheff commented on #9
Yes.

Yes

[2018-02-02 20:14] nsheff opened #16 "Help text for app interface"
Make the question marks lead to a popup or something that displays text, instead of going to the R package docs. These are meant to be like little tooltips or something. Here's the text for each:

Universe:

DB:

Finally, we need a link to example results and some documentation on interpretation. So, I suggest putting a link to "Sample results" (which could just take you here: http://lolaweb.datab

[2018-02-02 20:17] nsheff opened #17 "Tooltips to help with interpretation"
In the interactive results interface, I think we should also add some tooltips.

"Select Collection":

"Max Rank Cutoff"

Let's group all 3 plots under a single heading called "LOLA Results", and make the individual plot headings smaller; then we can add a tooltip question mark that says:

[2018-02-03 14:15] nmagee commented on #10
I have hard-coded our domain into the right place in the Traefik config now -- it doesn't go where I would have expected it to.

I'll close this for now.

[2018-02-03 14:15] #10 closed

[2018-02-03 14:20] nmagee commented on #8
So @vpnagraj has done all the work of getting branches, and their respective Dockerfiles, all sorted out. I researched Traefik's options for mapping to prod / staging / dev using URL paths, but it appears that is not possible after all.

I have automated builds running correctly, but for the moment had to set those up in the SOMRC organization. Docker Hub and Docker Cloud aren't giving me access t

[2018-02-03 15:17] nmagee commented on #12
Unfortunately, that's not possible in the current structure of the app -- it's a websockets thing.

When you hit the site, the HTTP over TCP connection immediately hands your browser off to speak websockets with the app going forward. And it would appear that Shiny Server can only establish one connection per browser. We _could_ experiment more with disabling websockets in the Shiny Server config,

[2018-02-03 15:27] nsheff commented on #12
So is that a Shiny constraint, then? Probably other people have encountered this and if there's not a solution now there may be one at some point in the future. I think it's something we should just keep in the back of our minds... it's a "nice to do" thing.

[2018-02-03 16:14] nsheff commented on #8
Ok,  interesting. I haven't had time to dig into traefik docs yet, but are you sure about this? By my cursory reading it seems to indicate that `domain.com/web` is mappable to a different microservice:

https://docs.traefik.io/basics/
https://github.com/containous/traefik/issues/73

[2018-02-05 17:36] nmagee commented on #8
I'm still researching the idea of mapping containers to paths within the same site. Stay tuned.

In the meantime, I have made good progress on plumbing branches, images, and syncing behind the scenes:

1. We want to do our Docker builds in Travis-CI, not in Docker Hub or Cloud. Travis takes about 1/3 the time, comparatively (7-9mins) for the build, then pushes the respective image:tag up to Docker

[2018-02-05 18:12] nsheff commented on #8
Ok that sounds good. you are an owner of the databio org so you should have complete permission to do whatever you want there on dockerhub or docker cloud. I can't do anything you can't.

[2018-02-05 18:31] nsheff opened #18 "faviocon"
Tiny user-interface suggestion: can we make the shiny server display the lola logo (just the 'button') as a favicon?

[2018-02-05 18:36] nmagee commented on #8
Oh I totally believe you! I even got the notification emails from them saying as much.

[2018-02-05 20:42] vpnagraj commented on #17
@nsheff can you confirm what you want "Max Rank Cutoff" help text to say?

the rest is implemented in 2448956 and dd36cff

[2018-02-05 20:46] vpnagraj commented on #16
the user set, universe and db popovers were added in 4f63e56

@nsheff where do you think we should put the "Sample results" link?

[2018-02-05 20:52] vpnagraj commented on #9
should be done as of a35370a

[2018-02-05 20:52] #9 closed

[2018-02-05 22:46] vpnagraj commented on #18
good call ... fixed in 913707f

[2018-02-05 22:46] #18 closed

[2018-02-06 00:31] nsheff commented on #16
those are beautiful. :trophy:

For now I would just stick it under the RUN LOLA button.

I would also make the whole data entry interface (top half) be not present in the results interface. I guess this is part of the 'great division'

[2018-02-06 00:36] nsheff commented on #17
Ah yeah. Looks like I started that and then stopped, whoops. Maybe make a parent heading like "Plot options" or "Display options" or something. Tooltip text:

Also the "Select Collection" style doesn't match the others.

[2018-02-06 00:37] nsheff commented on #9
yep this looks great. now it's just up to me to populate those folders well.

[2018-02-06 14:39] nmagee commented on #8
I've just watched Nathan's last two pushes build the container, push it up, and the server upgraded the container properly. So that's a good confirmation of the pipeline working smoothly.

[2018-02-06 15:00] nmagee commented on #8
Also, it's good practice to give a bit of delay between rolling updates on a Docker swarm. So the back-end script on the server has a 10s wait between switching out containers.

    docker service update --update-delay 10s --image $CONTAINER service_name;

The `docker service update` command is great because it updates an existing service with no loss in the service, and it automatically pulls the

[2018-02-06 15:29] nmagee opened #21 "'Run Again' button on results page?"
Would it make sense on a results page to have a button to start over, or run another analysis? I just realized, after getting to http://dev.lolaweb.uvasomrc.io/?key=D1N9IEPLGS5MJOC with sample data, that I didn't have an easy to way to run LOLA again.

[2018-02-06 15:37] vpnagraj commented on #21
@nmagee 👍 the relationship between the results "view" and run interface can certainly be improved

that said, there isn't a great way to do this (besides a simple link back to the original url) without a major overhaul of the internal logic

personally i think i should focus on the decoupling instead ... i think we decouple (so there's a `run` app and `results` app) that will solve this issue and

[2018-02-06 15:48] vpnagraj commented on #17
ok i just added "Display Options" above the sliders 7bd9fb2

should be at http://dev.lolaweb.uvasomrc.io/ after the docker build

i also attempted a fix at the selection collection style 2910013

that said, we may want to rethink and have a parent heading for the collection, sort, userset dropdowns with a single tooltip (to match "Display Options") ... closing for now though

[2018-02-06 15:48] #17 closed

[2018-02-06 15:50] vpnagraj commented on #16
got it ... sample results under runLOLA button as of 0eb8c87

[2018-02-06 15:50] #16 closed

[2018-02-06 16:20] nsheff commented on #8
I was watching, too. It worked great.  a few minutes later I refreshed the dev URL and saw my change. nice!

[2018-02-06 16:24] nsheff commented on #17
agreed.

[2018-02-06 16:58] nmagee opened #22 "Consider making "sample results" link a relative URL"
https://github.com/databio/LOLAweb/blob/32a7c0ad556f0c63962ec12a5f292bed008ba01d/apps/LOLAweb/app.R#L79

A very minor suggestion: I'm not sure if Shiny accepts relative URLs, but if this is changed to a relative path, it will keep you on the respective container (`dev`, `staging`, `latest`).

[2018-02-06 17:03] nmagee commented on #8
Another random maintenance script: A weekly pruning of all "dangling" images no longer needed in the stack. They can add up over time.

I just added you both to this private repo for server-side things:
https://github.com/uvasomrc/lolaweb-backend

[2018-02-06 17:51] nsheff commented on #22
👍 yeah I thought this as well

[2018-02-07 00:53] vpnagraj commented on #22
ok well i can definitely do that (and had considered it too) ... but that will limit the portability for folks who are trying to run the app locally ... that is unless we provide instructions for how to download that sample cache and make it available somewhere?

thoughts?

[2018-02-07 02:07] nsheff commented on #22
can it be included in the package? it should be relatively small...

[2018-02-07 18:50] vpnagraj commented on #22
cool ... just pushed a fix for the relative url, so i'm going to close this out for now

that said, i think there is a bigger question of making all reference data (and sample caches) available in one place for people ... and documenting how to use `LOLAweb` locally ... will open a separate issue for that

[2018-02-07 18:50] #22 closed

[2018-02-07 19:14] vpnagraj opened #23 "make all reference data available and document local setup"
since the `universes` and `regionDBs` have outgrown what is in [lola vignette data](http://cloud.databio.org/vignettes/), i think we should consider where and how to make all the reference data (and sample caches) available in one place for users who want to run `LOLAweb` locally

this should be documented either in [root README](https://github.com/databio/LOLAweb) or [apps README](https://github.

[2018-02-08 01:28] nmagee commented on #21
Sounds good.

In the meantime I linked the header LOLAweb image to get you back to the initial page, which is often a reliable shortcut for getting back to the root of a website.

[2018-02-09 12:18] nsheff commented on #8
Hey @nmagee -- can you add these as dev/staging urls

http://staging.lolaweb.databio.org/
http://dev.lolaweb.databio.org/

it's just easier to type `dev` on the front of the real url than switching to the uvasomrc.io domain.

[2018-02-09 13:41] nmagee commented on #8
@nsheff -- yeah, I sure can. I meant to ask you about that Wednesday. Adding those domains right now.

I was teaching yesterday afternoon and ran out of time to touch the manuscript, so I'm doing that this morning. Look for a push or three before lunch.

[2018-02-09 13:43] nsheff opened #24 "plots are PNG"
plot downloads are PNG; they should be PDF.

[2018-02-09 13:44] vpnagraj commented on #24
got it ... will fix that ASAP

[2018-02-09 13:45] nmagee commented on #8
Done

[2018-02-09 14:08] nsheff commented on #8
got it, that works now. probably makes sense to just make `lolaweb.databio.org` behave the same way as `lolaweb.uvasomrc.io` in every sense.

[2018-02-09 14:11] nsheff opened #25 "old sample results get broken"
probably you realize this, but the sample results will stop working if they are old, when you update to the new way of wrapping the results into a list; hence, right now on dev, the link to sample results is failing.

I think this won't be a problem in the future, but once we're settled we need to make sure we preserve backwards compatibility so that old results can still load, even if we add a ne

[2018-02-09 14:14] vpnagraj commented on #25
@nsheff yeah great point ... i definitely had that mind and was actually going to open an issue here myself

and with this in mind ... do you think we should include any disclaimer or note about cache retention anywhere?

[2018-02-09 15:03] vpnagraj commented on #24
fixed in 2c33564

[2018-02-09 15:03] #24 closed

[2018-02-09 15:47] nmagee opened #26 "container bloat"
Not mandatory for the article submission, but if we can get our container to lose a little bit of weight in the nearfuture, that would be great.

We shot from 1.4GB to nearly 5GB yesterday, so it would make good sense to pull out any reference data/DB's that we can, and put them into the NFS share in one centralized reference location like the other reference data.

[2018-02-09 15:50] vpnagraj commented on #26
@nmagee good call ... my vote is to install these reference db packages (and their system deps) to a specific libpath on the host machine ... then mount that location to the containers at run and add the libpath for the shiny server session somewhere in the dockerfile

i can get started on this next week ...

[2018-02-09 15:55] nsheff commented on #26
yep, told you this was going to happen -- the other alternative is to make GenomicDistributions require less stuff. I can certainly work on that at some point as well.

but @vpnagraj 's suggestion is exactly what we should do (either way) because that is a generally useful solution to this class of problem, which will recur.

[2018-02-09 17:04] vpnagraj commented on #13
just pushed a fix for this 13f221c

[2018-02-09 17:04] #13 closed

[2018-02-09 17:06] vpnagraj opened #27 "modularize plotting functions"
there's quite a bit of redundancy in the "*_plot_input" functions (especially now that we have logic for inverted sorting by rank columns) ... these should be modularized so there's a single function that simply takes a parameter (i.e. oddsRatio, pValueLog, support) for the feature to be plotted

[2018-02-09 17:12] vpnagraj opened #28 "incorporate `plotFeatureDist`"
the app should include `plotFeatureDist()` from `GenomicDistributions`

this will require:

1. adding a new object to result list that's cached
2. figuring out parallelization of the `runLOLA` and `featureDistribution` computation ... see [SO post](https://stackoverflow.com/questions/21519431/r-run-2-different-blocks-of-code-at-the-same-time-in-parallel?answertab=votes#tab-top) for example

[2018-02-09 17:13] vpnagraj commented on #25
fixed in  173fa93

will open a separate issue for the disclaimer documentation

[2018-02-09 17:13] #25 closed

[2018-02-09 17:15] vpnagraj opened #29 "cache retention policy and disclaimer"
how should we manage cache retention / do we need to include any disclaimer text about cache availability?

[2018-02-09 17:17] vpnagraj opened #30 "decouple processing"
moving forward `LOLAweb` could be decoupled so that there is a "run" view and a "results" view

in principle the app will behave the same (after execution of run, users is forwarded to results) ... but  (among other things) this will make managing display of ui elements *much* more intuitive

[2018-02-09 17:18] vpnagraj opened #31 "google analytics"
need to add google analytics tracking to shiny server config

[2018-02-09 17:22] vpnagraj commented on #21
re-phrased this in #30

closing this one out

[2018-02-09 17:22] #21 closed

[2018-02-09 18:27] nsheff opened #32 "server disconnects"
After leaving a connection idle for several minutes, the connection to the server times out. This is not a major problem but there's probably some config option we can change to make these timeouts a bit longer.

[2018-02-09 19:03] nmagee commented on #32
I've been working on this. I'm noticing -- please see if you can confirm -- that this happens more frequently when you're on a "results" page rather than a blank, fresh LOLAweb.

Do you guys see the same?

[2018-02-09 19:05] nmagee commented on #31
Yes please!

[2018-02-09 21:05] nsheff commented on #12
Just ran into this again; I think it's something we should keep thinking about.

[2018-02-09 21:11] nsheff opened #33 "Run summary stats"
Along with the UI decouple (https://github.com/databio/LOLAweb/issues/30) we should have the results page show some summary stats on the run:

- start time?
- end time?
- elapsed time?
- results URL
- filename uploaded
- genome selected
- universe selected
- database selected

anything else?

[2018-02-09 21:41] nmagee commented on #33
I have a bit of an interest in capturing the users originating IP address.  That would let me do a bit of investigation on schools and campuses that are touching LOLA, but it’s not a burning hot priority.

[2018-02-10 02:24] nsheff commented on #12
I realized you can have multiple concurrent sessions: one each on master and staging. maybe we can exploit that... in theory we could enable lolaweb1 and lolaweb2 etc. subdomains and just have them resolve to the same place. seems there should be a way to do something similar but make it seamless to the user

[2018-02-10 14:46] nmagee commented on #8
@nsheff these are all mapped now, and tested. And made extra sure the main URL is alive and well...

[lolaweb.databio.org](http://lolaweb.databio.org)
[lolaweb.uvasomrc.io](http://lolaweb.uvasomrc.io)
[staging.lolaweb.databio.org](http://staging.lolaweb.databio.org)
[staging.lolaweb.uvasomrc.io](http://staging.lolaweb.uvasomrc.io)
[dev.lolaweb.databio.org](http://dev.lolaweb.databio.org)
[dev.lola

[2018-02-10 21:59] nsheff commented on #8
hey, that means a user can have 6 simultaneous sessions, hehe.

[2018-02-14 23:04] nsheff commented on #32
I've tried looking into this but it's tough to tell... it's really hard to do a controlled experiment so all I have is anecdotes. You may be right.

[2018-02-16 01:09] nsheff opened #36 "container issues"
I'm getting a 'Welcome to nginx' page at our URLs right now. The servers are running but there must be something wrong with traefik, I'm guessing.

[2018-02-16 21:20] vpnagraj commented on #31
GA tracking added as of bab3ffa

[2018-02-16 21:20] #31 closed

[2018-02-17 19:16] nmagee commented on #36
Resolved with typo. Removed nginx placement.

[2018-02-17 19:16] #36 closed

[2018-02-19 17:32] nsheff opened #39 "intro clarifications"
Let's add a blurb at the top of the page saying what this is.

And how about a graphical overview image for the input page?
![lolaweb-abstract](https://user-images.githubusercontent.com/5271009/36390416-f8b2e93c-1570-11e8-90c6-9922b1ca1cad.png)

[2018-02-19 17:35] nsheff opened #40 "links"
let's add links to my lab page and to the source code. maybe let's change `Powered By SOMRC` to:

Powered By [SOMRC](https://somrc.virginia.edu/). A project from the [Sheffield lab](http://databio.org) at the University of Virginia. [Source code at GitHub](https://github.com/databio/LOLAweb).

or some variant thereof

[2018-02-19 17:35] nsheff commented on #40
maybe also some note "run your own with a docker container" or something?

[2018-02-21 17:33] nsheff opened #41 "add 'thinking' icon to visualization page"
for the interactive viewer, it takes about 5-7 seconds to load (even when clicking on "sample results" for example).

I think we should use the gear icon here as well. After the "LOLA Results" heading but before the plots are displayed, I mean.

[2018-02-22 20:35] vpnagraj commented on #27
implemented a fix for this in 9b3a5a8, which is currently building on dev but should find it's way to master soon

[2018-02-22 20:35] #27 closed

[2018-02-27 18:42] vpnagraj commented on #40
just added links in b5c90ec

[2018-02-27 18:42] #40 closed

[2018-02-28 20:54] nsheff commented on #39
how about some kind of javascript site tour? Maybe after #30

[2018-02-28 20:55] vpnagraj commented on #39
^ http://github.hubspot.com/shepherd/docs/welcome/

[2018-02-28 20:56] nmagee commented on #39
http://linkedin.github.io/hopscotch/

[2018-02-28 21:01] nsheff commented on #26
GenomicDistributions also takes 7 seconds to load, which is an issue.

[2018-02-28 21:02] nsheff commented on #32
maybe solved by the move from websockets?

[2018-02-28 21:03] nsheff commented on #33
In tandem with #30

[2018-02-28 21:06] nsheff commented on #29
let's add a disclaimer and cron job saying we'll delete them after 1 year.

[2018-02-28 21:06] nsheff commented on #28
this function adds 5 minutes ish to the compute time; should we look into ways to reduce that?

[2018-02-28 21:07] nmagee commented on #29
find /path/to/files* -mtime +365 -exec rm {} \;

The deletion cron job is now in place. I'll work with Pete on putting it in text on the about page.

[2018-02-28 21:19] nmagee opened #42 "Attach SOMDEV1 / DEV2 to Qumulo"
Reach out to RCI and discuss options around mounting specific Qumulo shares to DEV1/DEV2. This will help us consolidate pools of reference / universe data.

[2018-02-28 21:22] #8 closed

[2018-02-28 23:51] nmagee commented on #12
An update: This is still not resolved even when disabling websockets. That is, you cannot use multiple tabs of the *same browser* to run concurrent sessions of LOLAweb.

You can still run multiple concurrent sessions by opening different browsers (Chrome, Safari, Firefox, etc.). And you can run multiples of those across production, staging, and dev.

But it's clear now that the real sticking point

[2018-03-01 17:33] nsheff opened #43 "Bad Gateway"
the dev sever is returning a bad gateway at the moment.
Actually this just happend about 3 minutes ago; I had an interactive results tab open and it just choked.

[2018-03-01 17:54] vpnagraj opened #44 "result table not rendering"
currently the JS datatable at the bottom of the results view renders locally but not on dev:

http://dev.lolaweb.databio.org/?key=VWQN3ZC5HFD92EK

Chrome developer tools is reporting the following error for `datatables.js`:

[code]

can't remember if i saw this before the navbarpage change or not ... but i'm wondering if this is an issue with websockets being disabled?

[2018-03-01 17:58] nsheff commented on #43
Something similar happened again just now... I was just clicking through the tabs on `dev` and got a "Disconnected" error.

[2018-03-01 18:20] nsheff commented on #44
The 'download plot' buttons are gone as well.

[2018-03-01 22:24] nmagee commented on #43
Checking on this...

[2018-03-02 16:03] nmagee commented on #44
Pete, I see something that might be related here -- when I view the source of the page I'm seeing two `datatables.js` files referenced in `<script>` tags. One is **datatables-bindning-0.4** and the other **datatables-bindning-0.2**.

Perhaps the redundant file src is quashing the js from loading, or ?

[2018-03-02 16:04] nmagee commented on #44
Okay yes that's got to be it -- the latter reference to 0.2 does not exist. So the browser is trying to retrieve the last-mentioned JS file and that's what's giving us a 404 on that.

[2018-03-02 16:06] vpnagraj commented on #44
hmmmm okay ... well i'm not managing how any of those js files are referenced (that should be done by shiny) so maybe an issue with the `DT` package?

either way this helps, i'll look into it

[2018-03-02 16:24] nmagee commented on #44
Okay cool. Yeah, I wonder if two libraries are referencing that and one is relying on a stale version.

[2018-03-02 19:39] nmagee commented on #42
@nsheff Alden's reply to this request was "I can do this easy". ;)

[2018-03-02 21:00] vpnagraj commented on #44
fixed this in dc22e19

looks like we had a redundant `<head>` in the about.html and the app was calling the `datatables` js library twice

d'oh!

[2018-03-02 21:00] #44 closed

[2018-03-05 18:14] nsheff commented on #26
Ok @vpnagraj  please try the new GenomicDistributions v0.3 for this.

[2018-03-05 18:16] nsheff commented on #28
I've completely rewritten this function and it is now much, much faster. I also renamed it. Please take a look at the new vignette to see how to do this; it's even easier now:

http://code.databio.org/GenomicDistributions/articles/01-intro.html

[2018-03-05 19:45] nsheff opened #45 "docker base"
instead of starting from the R base image in the docker file, we should consider a few alternatives:

- using a bioconductor container?
- creating our own image and using that as the base image?

As it is, the way I 'm seeing this, it's is a 25 minute travis build for deploy because it's re-installing lots of stuff from scratch every time. We could avoid this by having the LOLA base image start fr

[2018-03-05 20:20] nsheff opened #46 "dockerfile duplication"
Right now we have a different dockerfile for each branch (master, staging, dev). this caused me some confusion; is this the way we want it?

Shouldn't there be only a single docker file, and then the *branch* it's on dictates which container it's building?

[2018-03-05 22:03] nsheff commented on #45
Further:

I think the app itself should actually not be pulled into the dockerfiles.

I have this set up now locally where I have a container (`nsheff/rdev` to be precise) that can host my app, which I just run using

[code]

This decouples the docker container from the app; changes to the app need only update the app. Changes to the container should be the only reason to rebuild/update the contai

[2018-03-06 12:56] nmagee commented on #46
@nsheff yeah, with branches and builds of Dockerfiles there are basically two ways to go:

1. Create separate paths and multiple Dockerfiles, each specific to a git branch (the way we have it now); or
2. Use git attributes to prevent any merges of the Dockerfiles, so that each one remains unique for its particular branch.

I'd be fine with shifting over to the latter method; for whatever reason th

[2018-03-06 13:07] nmagee commented on #29
Some text is now in place on the ABOUT page, and so will work its way to the master branch. Closing this issue now.

[2018-03-06 13:07] #29 closed

[2018-03-06 13:31] nsheff commented on #46
Well, I guess I like the former better than the latter. Still, it feels strange.

[2018-03-06 13:32] nsheff commented on #45
BTW, it dropped to an 8 minute (ish) build when I removed the BSgenome dependencies.

[2018-03-06 14:18] nsheff commented on #32
I've noticed I get disconnected when there's a docker rebuild. So it could be that when we're actively developing, we get more disconnects.

Also I noticed it happens less often on master, which goes along with that idea.

[2018-03-06 14:19] nsheff opened #47 "processing time streamlined"
If we can load all the libraries in a global area, then what stops us from also doing this with the database caches, so they don't need to be re-loaded in each container?

[2018-03-06 20:58] nsheff opened #48 "data mount point"
Right now the data (*e.g.* universes, userSets, *etc.*) are housed as subfolders right in the app folder. I propose we make this a config variable somewhere, or something.

Also we might make this a single external folder so we don't have to mount 5 volumes independently on the docker container (which are all just subfolders within 1 folder). Maybe?

[2018-03-06 20:58] nsheff commented on #28
I have this running now on dev.

[2018-03-06 20:58] nsheff commented on #26
Container size is now down around 1.4Gb again, so this appears to have solved it

[2018-03-07 01:17] nsheff commented on #23
For this one we're waiting on the qumulo firewall settings so I will change to v1.2

[2018-03-07 01:19] nsheff commented on #43
I believe this may happen when a new container is built on travis and pushed to the server; Can we ensure that new container builds don't destroy current sessions?

This is not a big deal, but just generally speaking it would be better that way

[2018-03-07 01:19] #28 closed

[2018-03-07 01:21] nsheff commented on #26
Should we call this done, or are you still planning to produce a reference database package container to mount separately as a specific libpath? I still think that's a generally useful concept.

[2018-03-07 15:14] vpnagraj commented on #41
added this in 6032e0b

[2018-03-07 15:14] #41 closed

[2018-03-07 16:39] vpnagraj opened #50 "allow local and reference data archives to be passed environment variables"
right now the `cache/`, `universes/`, etc. are hardcoded ... some users developing on the app may not have a local copy of these under their app code structure

we should allow the locations of these to be passed as environment variables at docker run time

[2018-03-07 16:42] vpnagraj opened #51 "make sure sliders don't have NaN values"
right now if there's a `NaN` the sliders will break ... need to strip these (but retain them in the DT)

[2018-03-07 16:45] vpnagraj commented on #30
should be resolved in 6965236

[2018-03-07 16:45] #30 closed

[2018-03-07 16:47] vpnagraj commented on #26
containers are nice and lean

[2018-03-07 16:47] #26 closed

[2018-03-07 17:21] nmagee commented on #45
Okay, so we are ready to move to a new Docker base image.

Code:
https://github.com/databio/shinyBase/

Docker image:
https://hub.docker.com/r/databio/shinybase/

Travis builds:
https://travis-ci.org/databio/shinyBase

So in LOLAweb Dockerfiles we can now remove lines 5-29 and just use a new base:

[code]

New builds of LOLAweb should take only a few minutes.

[2018-03-07 17:28] #46 closed

[2018-03-07 17:46] nmagee commented on #45
Build time for the new base container is ~ 8 min

[2018-03-07 21:14] nmagee commented on #45
w0w

Build time with the new base image was 1 min 18 sec.

[2018-03-07 21:29] nsheff commented on #45
looking good -- everything seems to be working from here

[2018-03-07 21:35] nmagee commented on #45
Yeah, it's really just a simple switchout -- it was a good suggestion.

[2018-03-07 21:39] nmagee commented on #50
Set and use values such as:

[code]

These should be set either by the user at runtime (setting environment vars for the `docker run` command, or in a Docker compose file.

They should be consumed within the Shiny app by calling the ENV variable set in the container:

[code]

and then used to set the paths for reference files and local server files.

[2018-03-08 13:41] nsheff commented on #47
@vpnagraj can you comment on this? would it be possible? It would dramatically speed up compute time if containers could pre-load the databases.

[2018-03-08 14:00] vpnagraj commented on #47
@nsheff well i think this would have serious implications for the memory usage, right?

i just tried loading a couple of region dbs outside of the app, Core hg19 and LOLAroadmap hg19, and they were ~ 1GB and ~ 3GB respectively:

[code]

so for this to work as you've described we'd need to preload *all* of the regiondbs, and if just those two alone are hogging  > 4GB of memory, i'm not sure if we'l

[2018-03-08 14:20] nsheff opened #53 "sample results link on front page"
with the change to tabs the 'sample results' link got moved to the "results" tab and is therefore no longer on the first page... that's fine, but I think we really need a link to sample results on the first page for first-time users. otherwise, they won't realize they can get there without runnign a complete analysis. nobody will think to click the 'run' tab.

we should add that link back in so it

[2018-03-08 16:22] nmagee commented on #43
@nsheff I'll check on the impacts of the `docker service update` call, and how respectful it is of working containers.  I think there's a "graceful" way to inject new containers into the swarm without killing sessions.

I'll get back to you here.

[2018-03-08 16:56] nmagee commented on #43
I've implemented another flag in the `docker service update` calls that are hopefully a bit more gentle on image upgrades:

[code]

It's the `--stop-grace-period` that is new. Let's keep an eye on it and see if that helps. So with this config, when a new Docker image is built, we wait 10 seconds between each new one being injected into the swarm, and we will wait up to 180 seconds for busy contain

[2018-03-08 17:11] nsheff commented on #47
yeah, makes sense...

So it's a tradeoff of memory and time. What if we kept a few containers pre-loaded, sacrificing a few gigs of memory, but the users would get the compute done in just a few seconds?  The only advantage of doing it the other way is you save a few gigs of memory (when the process isn't being used)... but if multiple people are using it you're consuming that memory in duplicate.

[2018-03-08 20:15] nsheff commented on #47
also why would we need to preload *all* of them?

[2018-03-08 20:56] nmagee commented on #47
@nsheff That video is interesting (okay yes I got pulled in by your "this video is really worth watching" line).

Redis might be worth considering, as a pool in which we dump all reference datasets -- everything remains in memory, super-fast, is already containerized, and can be quite large. Just another way to share things between containers.

[2018-03-08 22:21] nsheff commented on #47
@nmagee Yeah. sharing among containers is one thing, and sharing among R processes is an independent thing (which can be solved with maybe with [rredis](https://cran.r-project.org/web/packages/rredis/index.html) or with the [svSocket](https://cran.r-project.org/web/packages/svSocket/index.html) above).

[2018-03-13 23:48] vpnagraj commented on #53
ok the sample results link is back on the front page as of e426837

[2018-03-13 23:48] #53 closed

[2018-03-13 23:50] vpnagraj commented on #33
i've taken a first pass at collecting / including run summary info (for an example see http://dev.lolaweb.databio.org/?key=OAV4E2X3L7YTPUW)

@nmagee and @nsheff when you get a chance let me know what you think

[2018-03-14 17:38] vpnagraj commented on #33
@nsheff good call ... only issue is that the table won't fit on the left side, so i'm using a text output instead:

http://dev.lolaweb.databio.org/?key=UDYOXT3MC1E2VF7

[2018-03-14 18:19] nsheff commented on #33
Yeah, that makes sense. Unfortunately, the text output looks bad though, and introduces that horizontal scrollbar.

[2018-03-14 20:53] nsheff commented on #39
nice.

[2018-03-14 23:27] vpnagraj commented on #33
ok another attempt (this time with the table transposed):

http://dev.lolaweb.databio.org/?key=UDYOXT3MC1E2VF7

[2018-03-15 00:24] nsheff commented on #33
Yeah, that's what I was imagining!

[2018-03-15 12:49] vpnagraj commented on #33
@nsheff 🔮
@nmagee i'm punting on caching the ip address since it's not (yet) readily available in the shiny client data fields (https://github.com/rstudio/shiny/issues/141) ... that said, with google analytics i think we can get at some of that information

[2018-03-16 10:44] fhalbritter opened #54 "Submit button becomes active while processing"
The submit button ("Run LOLA") is deactivated upon submission (as it should be), but then seems to become activated again while the processing is still ongoing.

I've experienced this using my Firefox browser on Linux Mint with a fairly small input dataset. Seemed to happen about half a minute into processing, not sure whether at a specific stage.

[2018-03-16 10:47] fhalbritter opened #55 "Unable to use own BED file"
I've first run LOLAweb using the example data provided, which worked fine. I then tried upload my own BED file (which the web interface tells me worked) and submitted that. The results I get, however, look the same as for the example data and the table at the bottom of the results page tells me that the userset "setB_100.bed" was used.

[2018-03-16 11:20] nsheff commented on #55
Uh oh, that's a critical problem...

[2018-03-16 11:38] nsheff commented on #54
I can confirm that around the "calculating universe set overlaps", the RUN LOLA button becomes reactivated.

[2018-03-16 11:40] nsheff commented on #55
I can confirm that the results are always showing example results, and never real results.

Here is an example run done with a different input bed file. it shows the example results output.

http://lolaweb.databio.org/?key=U8IARBLKXT1JDFC

[2018-03-16 11:43] nsheff opened #56 "Errors for missing pieces should suggest rerunning the cache."
What happens if someone who ran LOLAweb with an old version tries to load that cache with an updated LOLAweb?

Well, the old versionw ill lack a few components from the new. If you run a cache in an older version of LOLA web, then try to load it in a new version, missing components give you an error like this:

`Error: An error has occurred. Check your logs or contact the app author for clarificat

[2018-03-16 11:45] nsheff commented on #42
@nmagee Following up on this -- is this possible yet?

[2018-03-16 11:50] nsheff commented on #55
I am not sure what would cause this; Is this coming from this line? https://github.com/databio/LOLAweb/blob/0d346e7c86ea0e25af7207a1d3286a8f6f22b93f/apps/LOLAweb/app.R#L498

Possibly it thinks the cache is already loaded (because you've just tried the example one), so it doesn't load the new cache?

[2018-03-16 11:51] nsheff commented on #55
I can confirm this problem is also on `dev`; and the cache key is correctly displayed in the database, yet the results are incorrect.

http://dev.lolaweb.databio.org/?key=8ODJMKWV3FC4RXQ

[2018-03-16 12:47] nsheff commented on #55
Ok, the problem looks to be in the file upload; it is actually recalculating and re-caching the bad cache.

So somehow even if you upload a custom bed file, it's running lola on the example one, I think.

[2018-03-16 12:54] nsheff opened #57 "databases should not be hard-coded"
[code]

like universes, these should be dynamic based on disk folders.

[2018-03-16 12:59] nsheff commented on #55
The bug is in here:

`        if(!exampleuserset$toggle) {`

it is always just going to the example even when a user uploads a file

[2018-03-16 13:05] nsheff commented on #55
`exampleuserset$toggle` is set to true no matter if the user has clicked "Browse for data to upload" or "load example data", so it doesn't matter what the user does, it always loads example data.

[2018-03-16 13:25] nsheff commented on #55
The issue was that the toggle flag on the example data was set to TRUE, but the default was actually FALSE.

If you toggle the button a few times it will work; but if you just straight up try to upload your data, the incorrect default value kills it.

[2018-03-16 13:25] nsheff opened #58 "bug in uploads"
there is another bug in uploads; it is requiring that there be exactly 6 columns in the upload bed file.

[2018-03-16 13:34] nsheff commented on #55
I can confirm this is working now in dev.

[2018-03-16 13:38] nsheff opened #59 "display commit hash for version"
Right now it's hard to tell when an update has propogated to production containers. I propose the web page display the commit hash of LOLAweb

We would just have to use git to grab the latest hash commit of whatever we pulled down in the LOLAweb container, using for example something like this:

https://github.com/databio/pypiper/blob/f88d2a68fef1014e4e8a1294c8d57a5ceeb5a747/pypiper/manager.py#L41

[2018-03-16 13:39] nsheff commented on #59
further, this has should be stored with the results as metadata.

This is related to #56 and #33

[2018-03-16 13:45] nsheff commented on #33
The current table cuts off values on the right side (they don't quite fit in the left menu).
example, heres what I see:

Start | 2018-03-16 13:4
-- | --
End | 2018-03-16 13:4
Elapsed | 188 seconds
Cache | VAJOK1TQ3ME
Regions | lamina
Genome | hg19
Universe | activeDHS_univ
Database | Core

Maybe make it smaller text?? it needs to fit...

[2018-03-16 13:46] #55 closed

[2018-03-16 13:46] #58 closed

[2018-03-16 15:28] vpnagraj commented on #59
this is incorporated in b53344733 ... let me know if that's what you had in mind

[2018-03-16 15:29] vpnagraj commented on #33
now using `font-size:10px;` for run summary table, and also including commit hash from #59

[2018-03-16 15:32] nsheff commented on #33
does that make it fit?

[2018-03-16 15:49] nsheff commented on #33
looks fine to me now.

[2018-03-16 15:49] #33 closed

[2018-03-16 15:50] nsheff commented on #59
also let's call it LOLAweb version commit or something...

[2018-03-17 07:59] fhalbritter commented on #55
Sweet. Thanks for the rapid response

[2018-03-20 12:05] fhalbritter opened #62 "hg38 -- disconnected from server"
I keep getting "Disconnected from the server" errors with the hg38 reference.

This happens when I try to run LOLA: I switch the reference to hg38 and upload my BED file, keeping all other options at default, then click "Run". I'm told it's loading the data then switches to "timing stopped" immediately and displays the "disconnected from server" error.

It works with the same file and hg19, so I s

[2018-03-20 12:10] fhalbritter opened #63 "Email results"
I think it might be nice to have an option (as in "optional"!) to enter your email address when you run a new analysis so that you can post a message to that address with a link to the results. Either that, or have user accounts with saved results.

This helps to keep track of multiple results and gives some robustness to interface errors happening after submission (which you will never be able to

[2018-03-20 12:25] nsheff commented on #62
Yes, I am seeing the same behavior.

[2018-03-20 15:07] vpnagraj commented on #62
@fhalbritter thanks so much for raising this issue ... i'm on it!

@nsheff fyi i think this is an issue with `read.table` for the universe (seems to be working with `readBed`) just pushed a change to dev (1025a13 ) please have a look when you get a chance

[2018-03-20 23:01] nsheff commented on #62
yeah that does solve the problem for me. this is a critical error so I think we should go ahead and release this to master.

[2018-03-20 23:06] nsheff commented on #62
On the error message side-issue -- @vpnagraj can you think of a way to report better error messages more generally?

[2018-03-20 23:50] vpnagraj commented on #62
@fhalbritter thanks again for bringing this to our attention, the problem should be resolved now

i'll open a new issue regarding the suggestion for more informative error messages

[2018-03-20 23:50] #62 closed

[2018-03-20 23:52] vpnagraj opened #66 "more informative error messages"
currently errors during `runLOLA` result in a "disconnected from server" but do not provide any more meaningful error message or output ... and since we're capturing the run time the green run message bar just shows the "timing stopped" information

[2018-03-26 21:04] #59 closed

[2018-03-26 21:12] vpnagraj commented on #54
thanks for raising this issue, i agree that's definitely confusing

i added a more comprehensive disabling (during run computation and while viewing cache) in 137dc1e

@nsheff those changes are live on dev if you'd like to have a look

[2018-03-27 16:30] vpnagraj commented on #57
fixed in 7c1a896c4

[2018-03-27 16:30] #57 closed

[2018-04-02 14:42] nsheff commented on #56
Related to #66

[2018-04-02 15:03] nsheff commented on #63
I think user accounts is a great idea, but too much overhead at this point... let's see how popular LOLAweb becomes and then reconsider user accounts in the future.

e-mail results seems fine, but will require setting up an e-mail system. Given that LOLA takes only 3-4 minutes to run I'm not sure this is necessary at this point.

I think if we can implement #47 and drop the time to under 1 minute

[2018-04-02 15:18] nsheff opened #67 "Upload/Download results package"
We've discussed this before, and also suggested by @fhalbritter

I think we should have a link under *Run Summary* to download an archive (`.Rdata file`) of the results.

LOLA should have functions to understand these archives.

Then, this could be uploadable as well?

[2018-04-02 15:20] nsheff opened #68 "longer-term archival of results"
Feature suggestion by @fhalbritter

[2018-04-02 15:31] nsheff opened #69 "move download plot buttons"
The *download plot* buttons should be replaced by smaller icons that can be displayed next to the title (maybe in front of it) instead of below it, which adds a lot of unused whitespace.

[2018-04-02 19:35] nsheff commented on #42
Hi @nmagee, when you get a chance, can we follow up on this? What's the ETA? If beyond a week or so we should come up with an alternative solution I think.

[2018-04-02 19:39] nsheff commented on #68
here's a cool idea: making it really easy for someone to set up their own webserver running just the interactive component of this, so they could include it as a webpage with a publication.

or, another way we could accomplish this: allow posting a link to an archive file (*a la* #67) available online; our server could download that archive and display the interactive results. Then we don't have t

[2018-04-04 23:05] nsheff opened #70 "add feature partition plots"
[GenomicDistributions](http://code.databio.org/GenomicDistributions/) has a new *partition plot* that we should add:

http://code.databio.org/GenomicDistributions/articles/intro.html

[2018-04-05 13:13] vpnagraj commented on #54
the fix for this issue is implemented on our dev server and will be trickling up to production in the near future

[2018-04-05 13:13] #54 closed

[2018-04-05 18:09] vpnagraj opened #71 "consider setting a max number of rows that can be returned for plots"
currently depending on how you modify the sliders / cutoffs, the number of rows returned can be unwieldy ... this is ok for tables but plotting  and interpretation of plots can be difficult

we might consider setting a maximum for the number of rows that can be plotted ...

[2018-04-05 18:54] nsheff commented on #71
for the scatterplot, might look into the hexbin plots to avoid plotting every point; then just plot the actual points for the ones not filtered by the sliders.

[2018-04-11 14:48] nmagee commented on #42
Sorry I didn't see this while I was away. Working on a proper/faster mount path, but for now this is mounted as read-only here on both nodes:

[code]

[2018-04-11 18:58] nsheff commented on #42
I can see that; where is the corresponding mount on rivanna?

[2018-04-11 19:00] nsheff commented on #42
nevermind I found it.

[2018-04-11 19:03] nsheff commented on #42
at what external URL can I see the files in that folder?

[2018-04-11 19:09] nsheff commented on #56
@vpnagraj this comes up again with the new genomic distributions plot, which doesn't show up for sample data.

[2018-04-13 13:27] nsheff commented on #48
Same as #50?

[2018-04-13 13:28] nsheff commented on #50
@vpnagraj what's the status on this? This will be important for my work on #42 and #23

[2018-04-13 13:44] nsheff commented on #50
I'm working on this now....

[2018-04-13 17:50] nsheff opened #73 "permissions to logs"

[2018-04-13 18:02] nsheff commented on #73
I lack permissions to shiny logs

~/lola-data/shinylog$ cat LOLAweb-shiny-20180413-170625-33231.log
cat: LOLAweb-shiny-20180413-170625-33231.log: Permission denied

[2018-04-13 18:06] nsheff commented on #42
I've changed LOLA around to use environment variables and point to the qumulo mount (see #50)

With this commit, I'm trying to update the docker swarm so that the mounts are now correctly pointing to the new mounts, instead of to local subfolders inside the app dir.

https://github.com/databio/LOLAweb/commit/e936848e29e16360b2d046228ab95ea48e04ed61

@vpnagraj and @nmagee am I doing this correctly?

[2018-04-13 18:25] nsheff commented on #42
How do I tell the swarm to re-create the containers with the new mount points?

[2018-04-13 18:32] nsheff commented on #42
actually, those new mount points will only work with dev containers... so this gets tricky. can you only update dev containers?

[2018-04-13 18:48] vpnagraj commented on #42
@nsheff i'll let @nmagee speak to the swarm config ...

but for the changes in c2ec8d1 i can confirm i was able to get things set up and running locally (with `runApp()` outside of docker)

[2018-04-13 18:49] vpnagraj commented on #71
histograms are capped at 50 results as of 5d48e5b

@nsheff can you test this and confirm it's working as you had in mind?

[2018-04-13 18:50] vpnagraj commented on #70
included in 690502788c2071cb3cc23a3cb5a670bc59aab44c

[2018-04-13 18:50] #70 closed

[2018-04-13 18:51] vpnagraj commented on #69
plot buttons now read "PDF" to free up space

[2018-04-13 18:53] nsheff commented on #42
It seems that I somehow updated the production containers, because they're now showing the new code... I am not sure what I did.

This also means they are not working anymore.

[2018-04-13 18:56] nsheff commented on #42
actually this has me quite confused... I did not update the master Dockerfile. I thought that was the way to update the production containers. But the production containers are currently running the code on the dev branch of LOLAweb. It does not seem like this should happen, so something went wrong either in practice, or in the way I understand things.

[2018-04-13 19:36] vpnagraj commented on #42
weird ... i don't think this has been an issue until today ??

@nmagee is this a typo?

https://github.com/databio/LOLAweb/blob/c1fc5d8a987de5e7d0f216a437f701c52c495486/docker/Dockerfile#L11

shouldn't have the `-b dev` flag, right?

my guess is that we hadn't seen this (even with recent commits to dev) since the container hadn't actually been rebuilt until @nsheff did the PR and reverted it today

[2018-04-13 19:50] vpnagraj commented on #42
ok yeah that was definitely a typo ... bb34fec fixed things so that the production container *is* pulling from the master branch for code (rather than dev)

[2018-04-13 20:15] nsheff commented on #71
yes I noticed this. looks great.

[2018-04-13 20:15] #71 closed

[2018-04-13 20:16] nsheff commented on #69
No the point was to save vertical space; this text change didn't save any useful space... they need to be moved up a line.

[2018-04-16 14:28] nmagee commented on #42
Sorry guys, I was away all weekend and missed these. I'm going to update the swarm today between datacenter work. I'll keep you posted.

[2018-04-16 14:41] nmagee commented on #50
@nsheff just wanting to confirm (my brain is in several places at the moment)...

I'm looking at the ENV variables needed from [here](https://github.com/databio/LOLAweb/blob/dev/apps/LOLAweb/misc.R#L64) and the two variables we need to pass into the swarm config are these, correct?:

[code]

[2018-04-16 15:21] nmagee commented on #50
I have DEV updated with this config -- sample results work fine, but running sample data does not, throwing a Shiny error. I'm not sure if the second volume mount is correct for retrieving ref data.

'''
  dev:
    [...]
    volumes:
      - /data/lola:/data/lola
      - /mnt/q/shefflab/LOLAweb:/mnt/q/shefflab/LOLAweb/
      - /data/lola/shinylog:/var/log/shiny-server
    environment:
      - LWRE

[2018-04-16 16:12] nsheff commented on #50
That looks right. I have broken the sample input independently, I think...

[2018-04-16 16:14] nsheff commented on #42
that's working now, thanks.

[2018-04-16 16:24] nsheff opened #75 "loading delay"
on both production and dev, there's now about a 5-10 second delay between when the page loads and populates half of the inputs, and then a red error is displayed for a split second, and then things load completely.
I am not sure what is causing this delay.

[2018-04-16 16:35] nsheff commented on #50
I'm a little confused now though, because the databases are populating correctly, but the "load example data" is not...

and the caches are not being found, either. So, some things are not connecting right.

[2018-04-16 16:37] nsheff commented on #50
ls ../cache/F1NJU8KSWI59H4E.RData
../cache/F1NJU8KSWI59H4E.RData

the example cache is there, but clicking 'sample results' yields `The cache 'F1NJU8KSWI59H4E' does not exist.`

[2018-04-16 16:42] nmagee commented on #50
@vpnagraj does the example possibly need to get rebuilt for it to work?

[2018-04-16 16:45] nsheff commented on #50
@vpnagraj Pete I think I need you to figure this out...
for LWREF: databases and universe are working, but examples are not;
for LWLOCAL: shinylogs are working, but caches are not.
not sure why...

[2018-04-16 17:06] vpnagraj commented on #75
no idea ... but i noticed this only after the changes to how the sample data / universes / databases were mounted to the containers

so i'm not sure if there's a "bug to fix" here with the shiny app ... @nmagee any ideas?

[2018-04-16 17:48] vpnagraj commented on #50
@nmagee no i don't think we necessarily need to rebuild the cache for it to work here

@nsheff sure i can look into this but i'm currently having issues with ssh on the host machine and can't log on

but as far as the examples go ... i am seeing that in the dropdown for the "Select pre-loaded region set" on dev currently shows all of the reference genome names AND setB_100.bed ... are there sub di

[2018-04-16 18:03] nsheff commented on #50
That cache *is* there on the dev container in the right spot:

root@04c531c913a1:/srv/shiny-server# ls /data/lola/cache/F1NJU8KSWI59H4E.RData
/data/lola/cache/F1NJU8KSWI59H4E.RData

[2018-04-16 18:40] nsheff commented on #75
I think I figured it out...

[2018-04-16 19:56] nsheff commented on #75
It's because I'm now included non-cached databases, and `list.files` is choking on listing through thousands of files.
it's better with this fix, as it can handle big databases without problem.

[2018-04-16 20:17] vpnagraj commented on #75
nice!

[2018-04-16 20:31] nsheff commented on #50
Now the caching is working -- for some reason.  But now loading the setB_100.bed is not working.

I'll start a new issue on that.

[2018-04-16 20:33] nsheff opened #76 "examples should auto-populate their reference genomes"
we can't run an hg19 sample on an mm10 database.

2 solutions: when you choose a sample, it populates the appropriate genome; or
when you pick a genome, it restricts the dropdown to samples for that genome.

I've started to implement these but reached my limit as I don't know how to find the `input` variable. @vpnagraj ?

[2018-04-16 20:37] vpnagraj commented on #69
ok ... buttons are now side-by-side with headers

[2018-04-16 20:37] #69 closed

[2018-04-16 20:38] nsheff commented on #50
I see the problem:

[code]

Changed permissions and that solved this issue.

[2018-04-16 20:44] nsheff commented on #50
ok this is done!

[2018-04-16 20:46] nsheff commented on #48
This was a dupe of #50, which was completed.

[2018-04-16 20:46] #48 closed

[2018-04-16 20:47] vpnagraj commented on #50
awesome have we added a specification for that permission change somewhere in the dockerfile? or did you change that permanently on the host machine?

[2018-04-16 21:32] nsheff commented on #69
looks great!

[2018-04-16 21:34] nsheff commented on #50
it was just a misconfiguration of the new project files... so I've made the change permanently in the project space.

[2018-04-16 21:35] nsheff commented on #50
By the way, caching is now not working again.
There's something weird going on with the containers.

[2018-04-17 12:44] vpnagraj commented on #76
i started on this went with option two:

that seems to be working (in the sense that i can see the 2 bed files in `hg19/` when i select hg19) ... but when i try to run a job i'm getting an error

@nsheff can you double check the permissions on those example files? maybe similar to what we were seeing in #50 yesterday?

also wondering if we will have example usersets for *all* of the reference geno

[2018-04-17 13:33] nsheff commented on #76
Yep, permissions fixed it.
That is great, thanks. This works.

I'll make sure to add examples for all of the reference genomes.

[2018-04-17 13:35] nsheff commented on #68
well the 224 we have now are 181MB. So 1000 ought to be under 2GB.

[2018-04-17 13:39] nsheff opened #77 "scatterplot visualization problems"
The top is cut off of the scatterplot.  this is actually cutting off some of the points, and the legend

there is also no scale on the x axis.

[2018-04-17 13:52] nmagee commented on #68
Great. So I see no reason to purge them if we don't need/have to. We could store them locally, or we could even throw them up into S3, if you wanted.

[2018-04-17 13:55] nmagee commented on #50
@nsheff I see you are logged into DEV1. Let me know if it's okay to push all dev containers onto DEV1 -- I will need to `docker service update`, which will kill the two dev containers on DEV2 and launch them onto DEV1. But it should keep the single dev container already on DEV1.

[2018-04-17 14:00] nmagee commented on #73
@nsheff you should have read access to these now, I added you to the `lolaweb` group.

[2018-04-17 14:03] nsheff commented on #50
go for it!

[2018-04-17 14:04] nsheff commented on #68
Until there are 1,000,000 of them :smile:

[2018-04-17 14:05] vpnagraj commented on #76
@nsheff have you successfully completed a run with either of the example user sets?

i see that they load and start processing but i get disconnected at the end (when the cache is being created)

maybe also related to discussion in #50 and how the cache dir is being mounted on containers? is shiny not able to write to that location?

[2018-04-17 14:06] nsheff commented on #77
see this for example:

http://dev.lolaweb.databio.org/?key=G1CIYJS2NLX7PEU

[2018-04-17 15:42] nsheff commented on #76
yes, they are working for me.

I just depends on if you got a container that's correctly mounting `cache`. it's exactly #50, looks like you're assigned to the bad containers now and I got the good ones.

[2018-04-17 15:43] nmagee commented on #68
ha! Bring it on!!

[2018-04-17 16:31] nsheff commented on #73
thanks

[2018-04-17 16:31] #73 closed

[2018-04-17 21:27] vpnagraj commented on #77
i think 3f05b6a did the trick for the legend

http://dev.lolaweb.databio.org/?key=F1NJU8KSWI59H4E

[2018-04-18 01:14] nsheff commented on #77
yep. but in the lamina example, the one hit is still not showing up. do you know why?

[2018-04-18 19:54] vpnagraj commented on #77
yeah and i'm seeing the same issue for the CD14 example file

maybe this has something to do with #51 (the pvalue sliders have `NaN`)?

[2018-04-18 19:54] #76 closed

[2018-04-18 20:46] #75 closed

[2018-04-19 14:21] vpnagraj opened #78 "suggestions for plot labels / legends"
- [x] bigger font (crop labels that are too long and/or do some basic text replacements to remove unnecessary text)
- [ ] all black standardized type face
- [ ] remove the offset ("expand") that ggplot puts by default in between 0 and the bars (waste of space and ugly)
- [ ] use Brewer colors instead of the defaults
- [x] standardize and de-computerize legend titles (i.e., "User set" instead of "u

[2018-04-20 13:00] vpnagraj commented on #51
dfdea72 and d4b9344 took care of omitting `Inf` values from definition of slider ranges

[2018-04-20 13:00] #51 closed

[2018-04-20 13:10] vpnagraj commented on #77
ok changes are live on dev to accommodate infinite log p values (p=0, complete overlap) and infinite odds ratios (from running two query sets with a restricted universe built on those same regions)

all values are plotted in the scatterplot ... but for infinite log p values the value is set to the max log pval+1 (on hover it says infinite):

http://dev.lolaweb.databio.org/?key=G1CIYJS2NLX7PEU

for

[2018-04-20 13:10] #77 closed

[2018-04-23 14:49] nmagee commented on #43
Closing this now. After killing the container and I was connected to, and letting a replacement spawn to the load balancer, I was able to get this error. I've not seen it appear at anytime other than around new image rollouts or when I am dropping DEV2 for maintenance. (Just when I would expect to see it.)

[2018-04-23 14:49] #43 closed

[2018-04-23 14:50] nmagee commented on #12
Closing this now as well. Since each browser is assigned a container IP, and persists its requests to that specific container, users can only run multiple jobs if they are using multiple web browsers (Chrome, FF, Safari, IE, etc.)

[2018-04-23 14:50] #12 closed

[2018-04-23 14:57] nmagee commented on #50
This will be implemented fully with v1.2, to roll out today. DEV containers already work under this model, and now have a `docker-compose.yml` file section like this:

[code]

[2018-04-23 15:18] nmagee commented on #50
Now documented in the Docker [README.md](https://github.com/databio/LOLAweb/blob/dev/docker/README.md#run-the-lolaweb-container-locally-with-reference-data)

[2018-04-23 22:15] vpnagraj opened #79 "mm10 example region set and mm9 example universe"
i'm seeing that the pre-loaded region set for mm10 is empty ... as is universe select list for mm9

[2018-04-25 21:01] nsheff opened #82 "mm9 failing"
[code]
We have LOLA resources for `mm9` but because GenomicDistributions lacks this so far, I realized it's causing the whole thing to fail.

@vpnagraj can you make it so the genomic distribution plots are not catastrophic if they fail? So it can still show the LOLA results?

https://github.com/databio/GenomicDistributions/issues/2

I will work on adding `mm9` to GD but in this is generally useful

[2018-04-27 14:52] vpnagraj commented on #50
i think this is working as expected? closing for now

[2018-04-27 14:52] #50 closed

[2018-04-27 14:53] vpnagraj commented on #42
this is change was included in v1.2 release

[2018-04-27 14:53] #42 closed

[2018-04-30 15:50] nsheff commented on #82
I just released v0.5 of [Genomic Distributions](https://github.com/databio/GenomicDistributions), which includes mm9 data.

[2018-04-30 15:51] nsheff commented on #82
Now that I think about this, a better approach would be to just wrap this processing in a `tryCatch`, because the current method relies on the way GenomicDistributions is internally doing things, which is not guaranteed. No need to peer into that package's inner workings, just make it so if those tasks fail, they fail gracefully by just not printing failed plots. This method is easier to implement

[2018-06-22 14:50] nsheff opened #85 "feedback link"
should we add a link to collect feedback/ suggestions/problems with lolaweb?

[2018-06-22 17:20] vpnagraj commented on #85
@nsheff good call ... any suggestions for how / where to manage the feedback?

i vote for using github issues ✅

[2018-06-22 17:24] vpnagraj opened #86 "update 'how to cite' information"
now that the paper is published we should update the how to cite information in the FAQ:

http://lolaweb.databio.org/#other-resources

http://lolaweb.databio.org/#how-to-cite

V P Nagraj, Neal E Magee, Nathan C Sheffield; LOLAweb: a containerized web server for interactive genomic locus overlap enrichment analysis, Nucleic Acids Research, , gky464, https://doi.org/10.1093/nar/gky464

[2018-06-26 19:11] nsheff commented on #86
yes; please add this so both papers show up

[2018-06-26 19:13] nsheff commented on #47
@vpnagraj where are we on the sharing processes/redis idea?

[2018-07-04 16:00] vpnagraj commented on #47
**tl;dr ... i think we should skip the socket idea and just use redis**

i've been looking into the `svSocket` package to try and "host" the region DBs in an R process that's separate from Shiny

i am able to successfully use the `svSocket::evalServer()` method (as demonstrated in the [video](https://www.youtube.com/watch?v=rvT8XThGA8o) you shared above) for sharing objects in memory between R ses

[2018-07-04 17:41] nsheff commented on #47
Interesting.

I don't suppose it would make sense to do the inverse? (move the smaller query files over and then perform the computation in the svSocket server that already has the big files loaded)?

Or, even better -- don't even read the uploaded file into the client session; just use `evalServer()` to load the file up in the 'server' session (the persistent one with the big data pre-loaded), th

[2018-07-05 15:36] nsheff commented on #47
One other thought: would this method dramatically reduce memory required by making it so all the little child processes didn't even need to load the database?

In any case, I think it's fine to just move forward with the redis method. I have two thoughts in that regard:
1. I think this functionality should be put in `simpleCache`, not in `LOLAweb`, so it's more universally useful.
2. is it possibl

[2018-07-05 15:42] nmagee commented on #47
Mongo actually has an even smaller limit for keys – 16MB I think, and not 512MB – so that would probably make things more difficult, plus Mongo will have to do actual reads and not have keys available in memory like Redis does.

Sounds smart to work this into simpleCache instead of LOLA, so I think your idea is smart.

Neal

From: Nathan Sheffield <notifications@github.com>
Reply-To: databio/LOLAw

[2018-07-05 15:58] nsheff commented on #47
Is the key size a problem? or do you mean value size?

but good point about the memory thing.

[2018-07-05 16:01] nmagee commented on #47
Yeah sorry, the value of a key is limited.

Oddly, when the heavy users talk about limits they just refer to them as keys. But actual keys themselves have to be super small.

Neal

On Jul 5, 2018, at 11:58 AM, Nathan Sheffield <notifications@github.com<mailto:notifications@github.com>> wrote:

Mongo actually has an even smaller limit for keys – 16MB I think, and not 512MB

Is the key size a proble

[2018-07-06 12:31] nsheff opened #87 "one-container limitation"
the current implementation has this limitation we've discussed: because a user is linked to a specific container, if I try to run two tabs with LOLAweb at the same time, it doesnt' really work; one is unresponsive while the other is running. this is actually a substantial limitation... is there a way to relax it?

One thought is that if when you click "Run LOLA", instead of doing all the processin

[2018-07-06 13:19] nsheff commented on #82
did we ever pull 0.5 of GenomicDistributions into this? Because my `mm9` run is still not displaying those plots...
(it is not failing, which means the above fix succeeded).

[2018-07-06 13:20] nsheff opened #88 "missing plots should display a message"
right now mm9 runs aren't showing all genomic distribution plots (See #82). They are just blank. can we make them at least say a message if there is something missing?

This is more a universal, forward thinking thing...when we add new plots, they should never really just be blank. there should be some function that inserts at least a generic placeholder message about "cannot display" or something

[2018-07-06 13:33] nsheff opened #89 "mm10 is broken"
it's giving this error:
[code]

[2018-07-06 13:37] nsheff commented on #89
Something wrong with that cache, I think...

[code]

[2018-07-06 13:41] nsheff commented on #89
I am trying regenerating the cache now.

[2018-07-06 13:47] nsheff commented on #89
that didn't work. it may be a LOLA version thing. can we try updating the dev container to the latest R/bioconductor/LOLA version?

[2018-07-06 13:50] nsheff commented on #89
turns out it's not a LOLA version problem, but could be a GenomicRanges version problem. I still think we should update...

[2018-07-06 15:22] vpnagraj commented on #89
ok yeah i think the shinyBase container image we are pulling should include the bioconductor (not github) version of LOLA:

https://github.com/databio/shinyBase/blob/master/Dockerfile#L29

that gets pulled in via the LOLAweb dockerfile ... but i can't remember if that base image gets rebuilt automatically? every time we push a change to databio/shinyBase ? manually?

@nmagee is going to get sick o

[2018-07-06 15:24] nsheff commented on #89
it only gets rebuilt if we push a change to databio/shinyBase or trigger it manually.

[2018-07-06 15:30] nsheff opened #90 "docker instructions are confusing"
Noticed while trying to solve #89 --

our docs never mention the `shinybase` container, or instructions for building it.

I think probably our docs didn't get updated from the split out of shinybase?

[2018-07-06 15:42] nsheff commented on #87
Just some more thoughts on this...

This idea is circling back to some of our original thoughts about splitting the app into the "processing" component and the "visualization" component.

It seems to me the processing should happen in the back, not in a session that is tied to a user web session. that would solve this issue.

Proposal: The LOLAweb landing page uploads the file, assigns the cache I

[2018-07-06 18:19] nsheff opened #91 "add 'download all plots' button"
it might be nice to be able to download all the results in one convenient link.

[2018-07-06 18:28] nsheff opened #92 "partition plot name"
plot PDF is misspelled ('parition.pdf')

[2018-07-06 18:29] nsheff opened #93 "gendist aspect ratio"
genomic distribution plot PDF aspect ratio doesn't match the displayed aspect ratio (it's 1:1 in the PDF but should be long and skinny)

[2018-07-06 18:35] nsheff commented on #93
also, the font sizes don't match the font sizes of the other plots... can we standardize the sizes of the plots so they can be more easily dropped in together in a combined PDF?

[2018-07-06 20:17] nsheff commented on #89
Ok, I rebuilt it locally and pushed changes -- can we trigger a re-deploy of the containers @nmagee to see if this solves the problem?

[2018-07-06 23:30] nmagee commented on #89
Hey, just getting home and seeing this message. Yes I’ll go ahead and do a new pull and redeploy.

Neal

On Jul 6, 2018, at 4:17 PM, Nathan Sheffield <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok, I rebuilt it locally and pushed changes -- can we trigger a re-deploy of the containers @nmagee<https://github.com/nmagee> to see if this solves the problem?

—
You are receiving

[2018-07-06 23:58] nmagee commented on #89
Since you rebuilt the shinyBase container and pushed it up to Docker Hub, I just went to the TravisCI page for LOLAweb and triggered the rebuild there. That actually sends an SQS message that will spawn them out onto the servers in a seamless way.

I’m seeing the new Dev containers up and running there now. Can one of you guys verify that your fix is in place and working okay?

N

From: Nathan She

[2018-07-07 12:20] nsheff commented on #89
Yes, that worked! So, turns out I was right, it was probably some kind GRanges version issue. it's working now on mm10.

@nmagee thanks for redeploy -- at some point can you write down some brief instructions or a link somewhere so that in the future I don't have to bother you to do that? I forgot we were using travis for those builds and that was the way to rebuild it...

[2018-07-07 12:20] #89 closed

[2018-07-26 19:29] nsheff commented on #87
@vpnagraj @nmagee any thoughts on this?

[2018-07-26 20:57] vpnagraj commented on #87
@nsheff thanks for checking back in and providing some code to illustrate the idea ... very interesting

i've been working through some of the other issues on the `dev` branch and haven't had a chance to think too carefully about this

i may have missed something in the comments above ... but this would require us to store the region sets (and custom universes, if any) that users submit,  correct?

[2018-07-26 21:00] nsheff commented on #87
well -- for about 60 seconds, yes... those can be deleted at the end of the job run (or even after loading them), though.

[2018-07-26 21:03] nsheff commented on #87
This is also related to #30... it would be a full implementation of that idea. Our original approach was to use tabs, but didn't fully complete the idea in #30. It would really require a full decoupling to solve the container limitation issue, I think.

[2018-07-28 21:49] nsheff commented on #87
I am formalizing this with a new R package that will abstract away the splitting, called [shinyDepot](https://github.com/databio/shinyDepot)

[2018-07-30 19:18] nsheff commented on #87
yeah, that's very very similar... I am approaching it in a different way, which is a little more complicated, but more powerful... that will get us part of the way there but for our needs, I think the `shinyDepot` idea will be superior... I updated the README there which explains in a bit more detail now.

[2018-07-30 19:26] nsheff commented on #87
@vpnagraj do you want to take a look and see if you can figure out what I'm trying to do there? This would really open the door to higher performance apps and I think maybe even negate the need for the redis concept, among other advantages... let me know if something is confusing. there's a lot of not-quite-working pseudocode and ideas there but I think it's a good start

[2018-09-23 19:26] afrendeiro opened #94 "API"
Thanks for this, looks great!

Don't know if you guys want to go that way but I think it would be terrific it LOLAweb would allow programmatic access through something like a REST API.

[2018-09-24 18:46] nsheff commented on #94
Well... sort of. We should talk, this is a complicated issue. I have some thoughts.

[2018-09-27 12:52] holgerbrandl commented on #23
In particular, from where could I download the default mouse universe `tiles1000.mm10.bed`? The internet does not seem to know about it, and I also could find no reference to in in this repo or in https://github.com/nsheff/LOLA/

[2018-09-27 13:05] nsheff commented on #23
Hmm... let me look -- it's around, but I maybe have forgotten to update some of the repositories after making updates to some of the mouse datasets...

[2018-09-28 09:11] holgerbrandl commented on #23
If the file has been lost, could you potentially point me to some script you used to create it? Like if it's _just_ a simple tiling of the mouse genome with a fixed bin-size, one could just rebuild it easily I guess.

[2018-10-01 14:54] holgerbrandl opened #95 "Disconnected from the server.""
![image](https://user-images.githubusercontent.com/200952/46296435-a9d8e700-c59a-11e8-9a63-c318ecc815be.png)

I don't know the precise timing, but it seems to die before starting "Calculating universe set overlaps..."

[2018-10-01 15:06] holgerbrandl opened #96 "Always "Disconnected from the server." when using mm10"
The web-UI is always giving this error when selecting mm10 as reference

![image](https://user-images.githubusercontent.com/200952/46296435-a9d8e700-c59a-11e8-9a63-c318ecc815be.png)

I don't know the precise timing, but it seems to happen before starting "Calculating universe set overlaps..."

If I use the same input (and process them with mm10) it goes through without any problem (except for sure

[2018-10-01 15:07] holgerbrandl commented on #95
Duplicate of #96

[2018-10-01 15:07] #95 closed

[2018-10-02 12:51] holgerbrandl opened #97 "Download buttons are broken in dev-version"
Following up on #96 I've used the dev instance under http://dev.lolaweb.databio.org which provides online-results, but all download buttons (individual as well as "download all plots") just give a server error
![image](https://user-images.githubusercontent.com/200952/46348399-2fb66a00-c64f-11e8-9939-dac6d8be9aff.png)

E.g. http://dev.lolaweb.databio.org/session/a35770074b51f27ec6ce77160330bf97/dow

[2018-10-02 12:55] holgerbrandl opened #98 "Is the user expected to add a window around her peaks?"
Co-localization/enrichment relies on some defined proximity window. But since the UI does not expose any such window-size, I'm wondering if we have to expand the query sets (e.g. macs2 peaks in my case) using bedtools slop (or similar)?
Or is the user supposed to upload peaks as they come from the caller, and LOLA deals with some definition of proximity internally?

[2018-10-02 15:45] nsheff commented on #98
LOLA is going to just treat your regions exactly as you provide them. So, it assumes you've pre-processed them to be the exact size you want them to be.

It would be possible for us to make some simple resizing options. Maybe we should do that... the problem is just that it's so biology-specific, that it would be really hard to please everyone, you know?

[2018-10-02 16:25] vpnagraj opened #99 "remove "staging" concept"
we essentially are just using the `dev` --> `master` worfklow ... no longer seeing any need to have `staging` in between

we should:

1. relinquish staging containers
2. remove staging branch in git
3. remove `LOLAweb/docker/staging` dir

[2018-10-02 16:37] vpnagraj commented on #97
thanks for raising this issue, i believe i've addressed the problem and individual download buttons for plots (and the "download all plots" button) are working on dev

[2018-10-02 16:37] #97 closed

[2018-10-02 16:39] vpnagraj commented on #78
we've addressed the bulk of these suggestions ... closing this particular issue and will address other plot enhancements in new issues as needed

[2018-10-02 16:39] #78 closed

[2018-10-02 18:48] vpnagraj commented on #96
@holgerbrandl thank you again for reaching out about this problem

we've just issued a 1.3.0 release that fixes this issue ... so the production site should work with mm10 bed files now as well:

http://lolaweb.databio.org/?key=IHQ9P43EJ5DOWXS

[2018-10-02 18:48] #96 closed

[2018-10-02 19:27] vpnagraj commented on #92
fixed in b24ed8e

[2018-10-02 19:27] #92 closed

[2018-10-02 19:28] vpnagraj commented on #91
added in aed38ca

[2018-10-02 19:28] #91 closed

[2018-10-02 21:17] vpnagraj commented on #99
`staging` middle layer is gone

[2018-10-02 21:17] #99 closed

[2018-10-02 22:35] nsheff commented on #99
may it rest in peace.

[2018-10-03 04:06] holgerbrandl commented on #98
Indeed it's really hard to define what vicinity really means. But pointing out the necessity of doing so before/when using LOLA would be helpful imho.

[2018-10-05 15:12] vpnagraj opened #101 "implement `tryCatch()` during processing so app can accommodate partially successful runs"
two previous issues have been raised (#82 and #88 ) that speak to the need for LOLAweb to be able to more intelligently check whether or not the processing is working at each "step" (i.e. `runLOLA()`, `aggregateOverGenomeBins()`, etc)

right now these checks are `if` statements that cache a `NULL` value if the processing functions don't work:

https://github.com/databio/LOLAweb/blob/master/apps/LO

[2018-10-05 15:16] vpnagraj commented on #82
as of now, we are using the most recent version GenomicDistributions and mm9 is no longer failing

closing this issue as it speaks to a slightly different improvement that we can make that is covered in #101

[2018-10-05 15:16] #82 closed

[2018-10-05 15:20] vpnagraj commented on #88
missing plots display message as of e5b7098

this speaks to another issue with how processing handles errors (that result in missing output), which will be addressed in #101 moving forward

[2018-10-05 15:20] #88 closed

[2018-10-05 15:22] vpnagraj commented on #56
i believe #66 and #101 now encompass this issue

closing this for now ... we can always reopen if needed

[2018-10-05 15:22] #56 closed

[2018-10-17 20:15] nsheff commented on #23
@holgerbrandl you can find that file here:

http://big.databio.org/LOLAweb/universes/mm10/

[2018-10-17 20:44] nsheff commented on #79
I've added an example dataset now to the mm10 folder.

I'm not sure why it's not now showing up in the app, though.

@nmagee  Does the container need to be rebooted (to allow the volume to be remounted) or something before it will show up in the app?

it doesn't seem like it should...

[2018-10-17 20:53] nsheff commented on #79
@vpnagraj is this possibly caused by the app loading up the file list too early?

[2018-10-18 07:11] holgerbrandl commented on #23
Thanks @nsheff  for the pointer.

[2018-10-18 12:39] nmagee commented on #79
Anything we drop into an already-mounted Qumulo share should be immediately visible to the container, no rebuild or reboot needed.

[2018-10-18 13:12] nsheff commented on #79
That's what I thought... but this file is there:

[code]

but doesn't show up under `mm10` on the actual app...

[2018-10-18 15:29] nmagee commented on #79
Interesting. I hopped into a production LOLAweb container, changed to that dir, and see nothing:

root@fab10143a65f:/mnt/q/shefflab/LOLAweb/examples/mm10# ls -al
total 8
drwxrwxr-x 2 854360 25014    0 Apr 13  2018 .
drwxrwxr-x 6 854360 25014 3584 Apr 19 16:54 ..

But if I’m in Rivanna and follow that path, there it is.

I’m going to kill a container and hop into it and see what I can find.

From:

[2018-10-18 15:51] nmagee commented on #79
Okay, yes -- the .bed file is visible in a newly-spawned container. So I just re-launched all LOLAweb production containers.

Let me see if Docker explains this better than I can, but as I now recall any externally mounted volume isn't truly a pass-through (internal-external) like we think of a regular NFS mount. It's actually a cached copy of the dir within the container, and Docker takes care of

[2018-10-18 15:54] nmagee commented on #79
Or I may have mounted these in a simpler, more naive way than we need. I'll research and try to make this more seamless so you can add files as you like.

https://stackoverflow.com/questions/45282608/how-to-directly-mount-nfs-share-volume-in-container-using-docker-compose-v3

[2018-10-18 15:55] vpnagraj commented on #79
FWIW i can confirm that i'm seeing the mm10 example file now too ... and was able to execute a run with it

[2018-11-16 15:59] nsheff opened #102 "results redirection fails"
If you run a job, it says "redirecting to your results" and populates the URL, but the results never show up.

If you then refresh that URL it works, but there's something broken with the redirection.

[2018-11-16 17:31] vpnagraj commented on #102
@nsheff weird ... i've tried several runs (each with different input parameters, in safari and chrome) all of which have completed and redirected successfully

can you confirm that you're still seeing the problem with redirection?

[2018-11-16 21:01] nsheff commented on #102
Ok on a second try, it worked... so this is intermittent...

[2018-11-16 21:02] nsheff commented on #102
maybe just a fluke that one time it didn't go. I'll re-open if it comes back.

[2018-11-16 21:02] #102 closed

[2019-03-12 01:09] nsheff commented on #98
@vpnagraj it actually wouldn't be too hard to add another field in the shiny app called 'padding', which could be useful. What do you think?

we would just then use this 'padding 'parameter to run a `GenomicRanges::resize()` call on the uploaded regions.

[2019-03-12 14:17] vpnagraj commented on #98
@nsheff sure thing

but i'm not familiar with `GenomicRanges::resize()` so can you give you me a better idea of where to make that call? after [reading each `.bed`](https://github.com/databio/LOLAweb/blob/master/apps/LOLAweb/app.R#L525)?

and given that a user might upload multiple region sets, would the padding be the same on all files?

it would also help to know what the range of possible value

[2019-06-11 15:01] nmagee opened #103 "Move production stack to DC/OS"
@vpnagraj @nsheff , I think LOLAweb is ready to port over to DC/OS now. I have a running version here:

[code]

DCOS service config file is below. This version seems to be performing nominally. Nathan, could you verify that sometime for us please? (I cannot pull up the sample file link but I believe that's an unrelated error -- I think it got deleted as an "old" file the server trims.)

If perform

[2019-06-14 14:08] nsheff commented on #103
I think this move has lost the example cache, so the "View example results" link no longer works.

[2019-06-14 18:29] vpnagraj commented on #103
@nmagee i know we talked about this yesterday ...

i went ahead and recreated a cache with the "example data" and defaults

the cache name is `FYDO25QB4HUK6E1` can you rename that cache to be `F1NJU8KSWI59H4E` (name associated with current "sample results" link)

if that's an issue i can also just change the sample results link in the code ... but i think it's easier to just rename that file?

[2019-06-17 14:25] nsheff commented on #103
When I click on the link now (/?key=F1NJU8KSWI59H4E) it says "disconnected" ...

[2019-06-17 14:28] nmagee commented on #103
Yes, this seems like unusual behavior but (I think) it is because I took the cache file Pete suggested, copied it, and renamed to F1NJU8KSWI59H4E.Rdata. Seems Shiny does not like that, thus the “disconnected” error, rather than a “cannot find” error. Perhaps there’s something ID-related within the contents of the R cache file?

From: Nathan Sheffield <notifications@github.com>
Reply-To: databio/LO

[2019-06-17 14:53] nsheff commented on #103
the shiny logs will likely tell a more complete story

[2019-06-18 16:23] vpnagraj commented on #103
ok so given that renaming the file didn't do the trick, i went ahead and 1) created a new sample cache and 2) changed the link the code

these changes are live (2ddd6d6) and the new cache name is `M2LZOJXEQSKG98A`

http://lolaweb.databio.org/?key=M2LZOJXEQSKG98A

@nmagee i think you mentioned you have script that ignores files to be purged? can you add the file name to that script?

[2020-01-06 11:07] malger opened #105 "server is offline"
404 when i try to connect to our hosted instance

[2020-01-06 11:13] malger opened #106 "setup instructions uncomplete"
the readme there is not described where to download the regionDBs. if i want to download the core package which files should one download?

if one runs the shinyApp directly from R you don't mention to setup system env variable "LWREF", otherwise the relative directory will default to "/mnt/q/shefflab/LOLAweb/databases/"

`refDir = getEnv("LWREF", "/mnt/q/shefflab/LOLAweb/")`

from **misc.R**

[2020-01-06 15:29] nsheff commented on #105
indeed, lolaweb.databio.org is down... @nmagee?

[2020-01-06 15:30] nmagee commented on #105
Checking on this now.

[2020-01-06 15:32] nsheff commented on #106
Hi malger, you can find the instructions here:

https://github.com/databio/LOLAweb/tree/master/docker

I think we would need to just copy the relevant sections over to the shiny instructions (without docker), is that right?

[2020-01-06 15:34] nmagee commented on #105
It's back online now, @malger @nsheff -- seems the Docker swarm wasn't rebalancing properly. I'll patch those and restart services after hours sometime this week.

[2020-01-06 15:34] #105 closed

[2020-01-06 15:35] nmagee commented on #105
@malger thanks for the heads up.

[2020-03-10 17:24] danasilv opened #107 "LOLA web front page is disabled"
Hi LOLA web team,

I love the software and had been using it for awhile. Today the front page is disabled: if you go to http://lolaweb.databio.org/ the page is darkened and you can't choose parameters such as reference genome.

Thank you, really appreciate this project!

[2020-03-10 17:29] nsheff commented on #107
Hi @danasilv

It's actually working as normal for me... can you try a different browser? I wonder if your connection is just stale or something...

[2020-03-10 17:53] danasilv commented on #107
Thank you for the incredibly quick reply!
I tried now from a colleague's computer, who had never used LOLA before,
and got the same screen:
[image: image.png]
It looks almost like always, but some fields are missing.

Thank you,
Dana

On Tue, Mar 10, 2020 at 1:30 PM Nathan Sheffield <notifications@github.com>
wrote:

[2020-03-10 20:51] nsheff commented on #107
Interesting. I may need to look into the error logs...Do you get any error on the console in chrome? (Command + Option + J (Mac) or Control + Shift + J (Windows, Linux, Chrome OS))

[2020-03-10 22:12] danasilv commented on #107
I attached it here:
[image: image.png]
Thank you!

On Tue, Mar 10, 2020 at 4:51 PM Nathan Sheffield <notifications@github.com>
wrote:

[2020-03-11 00:01] nsheff commented on #107
Hi, I cannot see your attachment.

[2020-03-11 01:36] danasilv commented on #107
![image (11)](https://user-images.githubusercontent.com/32930322/76373555-15d68780-6317-11ea-9cc0-a30529b05c93.png)
attaching again, thanks!

[2020-03-25 11:53] nsheff commented on #107
@datasilv -- sorry for not responding to this. @nmagee restarted the containers on the server, can you confirm if the problem is still happening for you?

[2020-03-26 21:43] danasilv commented on #107
Everything is working! Thank you!

[2020-03-26 21:43] #107 closed

[2020-05-29 14:54] stepheee commented on #106
Hi
I am also facing this issue of getting the analysis to be performed when running through a shinyApp in R. I have setup system env variable "LWREF", to my directory however it is still not running I'm also unable to see the options in the drop down lists to run LOLA

[2022-02-28 11:28] fvalle1 opened #108 "Problem when running through docker"
I followed the [instruction for a docker](https://github.com/databio/LOLAweb/tree/master/docker) installation, then I set *LWREF* (/home/user/Developer/LOLAweb/) and *LWLOCAL* (/home/user/Developer/LOLAweb/data/) environment variables.

I run a container
[code]

I go to the website, when I upload a file (or an example *.bed* file) the web server crashes.

On the log I found

Calculating region set

[2022-03-05 18:42] vpnagraj commented on #108
hi @fvalle1 thanks for raising this issue to our attention

i've identified some gaps in our docker documentation.

while we address those gaps, could you please try the following and let us know if it works on your end? if so you should be able to adapt to work with the data you're using for your customized local LOLAweb instance

[code]

[2022-03-06 07:13] fvalle1 commented on #108
hi @vpnagraj thank you for your interest in this.

unfortunately I am still not able to run an instance of your code properly.

With this new instructions the web interface seems to correctly load example/universes/region databases, but it crashes as soon as I click "RunLola"

Is it possible that I am missing files in $LWREF/databases/Core/hg19/cistrome_cistrome/regions/ ? Comparing to [your serve

[2022-03-06 13:34] vpnagraj commented on #108
when testing on my end, im able to run the instructions above as-is (without the `regions/` dir you mentioned) and process the example data successfully

one additional configuration change i would recommend is increasing the RAM allocated to the container. some of the cache files are quite large and processing is memory intensive. from your description it sounds possible that you are running out

[2022-03-06 16:46] fvalle1 commented on #108
My docker container has 16GB of RAM available..

<img width="703" alt="Screenshot 2022-03-06 at 17 45 06" src="https://user-images.githubusercontent.com/7323644/156932901-ee15dc57-efde-49d6-9927-e5952e654fae.png">

I still receive the same error

<img width="703" alt="Screenshot 2022-03-06 at 17 44 31" src="https://user-images.githubusercontent.com/7323644/156932877-f86e7d7f-5548-4da2-9b42-dc3ee50

[2022-03-07 00:22] vpnagraj commented on #108
ok thanks for confirming that this is not a memory allocation issue.

re-reading your original post i noticed that your LWREF and LWLOCAL vars did not include a trailing slash:

the example code included in my [response](https://github.com/databio/LOLAweb/issues/108#issuecomment-1059813119) mentioned the trailing slash, but i realized i didnt explicitly mention that was required in my comment.

ha

[2022-03-07 05:45] fvalle1 commented on #108
Yes I have added the slash in the env variables

--
------------------------

Indirizzo istituzionale di posta elettronica
degli studenti e dei laureati dell'Università degli Studi di TorinoOfficial 
University of Turin email address for students and graduates 

[2022-03-07 08:03] fvalle1 commented on #108
Here my complete log, hope it helps
[LOLAweb-shiny-20220307-080118-44951.log](https://github.com/databio/LOLAweb/files/8195823/LOLAweb-shiny-20220307-080118-44951.log)

[2022-03-07 10:07] fvalle1 commented on #108
Hey @vpnagraj good news

I am able to run the instructions in your first comment; the problem on my side was related to docker not having all the right reading permission on $LWREF

Once I fixed it the computation started properly, but **failed** after *Calculating Fisher score*; here is the log

Calculating unit set overlaps...
Calculating universe set overlaps...
Calculating Fisher scores...
Tim

[2022-03-08 00:07] vpnagraj commented on #108
great! very glad to hear you were able to get everything running.

thanks again for raising this issue. we'll be improving our Docker documentation and updating the image to use the most current version of `GenomicDistributions`.

closing.

[2022-03-08 00:07] #108 closed

[2022-03-12 18:47] vpnagraj opened #110 "update sample cache link"
the current link to "Sample Results" in the LOLAweb app points to a cache that no longer exists:

http://lolaweb.databio.org/?key=M2LZOJXEQSKG98A

i've re-generated an example cache (AY86BGRD9EC5Z7T) and updated the
app to point to it:

https://github.com/databio/LOLAweb/commit/4eb69284c3264e150aaf2042bc4cb82ed7c02d30

this change will be part of the forthcoming v1.4.0 release and once merged the

[2022-03-12 19:55] nmagee commented on #110
@vpnagraj precisely - the cron task that clears the cache bonked that old file. I thought of exactly how to work around that in the script, but only after it was too late that time. I'll preserve this new example cache going forward.

[2022-04-14 14:41] nmagee opened #112 "Migrate to Google Analytics 4 property"
Universal Analytics is being deprecated July 2023, which requires our tracking and tags be updated to GA4.

https://support.google.com/analytics/answer/11583528

[2022-04-17 18:39] vpnagraj commented on #110
updated the sample cache link in https://github.com/databio/LOLAweb/commit/4eb69284c3264e150aaf2042bc4cb82ed7c02d30

seems to be working for now.

going to close this but @nmagee feel free to reopen if you need track any other changes to preserve the cache moving forward.

[2022-04-17 18:39] #110 closed

[2022-04-17 19:13] nmagee commented on #110
Thanks @vpnagraj - yeah I updated the script that clears the cache after 365 days and preserved a copy of the sample cache outside that dir. So it will always place a copy of that back after clearing. Should be all set going forward.

[2022-04-18 11:59] nmagee commented on #103
Not possible without disabling WebSockets. Will revisit this when k8s replaces DCOS.

[2022-04-18 11:59] #103 closed

[2022-04-18 12:01] nmagee commented on #90
Now [documented](https://github.com/databio/LOLAweb/blob/21bd8ffaeb7bae5aa04310628300c3067dcb2105/README.md?plain=1#L15) in the README.

[2022-04-18 12:01] #90 closed